workspace "1" {
  open-on-output "HDMI-A-1"
}
workspace "2" {
  open-on-output "HDMI-A-1"
}
workspace "3" {
  open-on-output "HDMI-A-1"
}
workspace "4" {
  open-on-output "HDMI-A-1"
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1.10
    transform "normal"
    position x=1280 y=0
}

