spawn-at-startup "waybar"
spawn-at-startup "awww-daemon"
spawn-at-startup "swaync"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
